.whatsapp {
    position:fixed;
    width:45px;
    height:45px;
    bottom:75px;
    right: 35px;
    background-color:#25d366;
    color:#fff;
    border-radius:18%;
    text-align:center;
    font-size:45px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:15px;
  }